body {
    background-color: lightpink;
}

.catImg {
    height: 50px;
    width: 50px;
}

#catContainer {
    position: relative;
}

#teaupCat {
    width: 100%;
    height: auto;
    margin: 20px;
}

#catText {
    Left: 50%;
    border-style: dotted;
    border-width: thin;
    text-shadow: 5px 5px 5px purple;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}

#floatedGarfield {
    float: right;
    background: orange;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
}

#garfieldImg {
    width: 150px;
}